div {
    max-width: 700px;
    width: 50%;
    margin: 2em auto;
    padding: 1.3em;
    background-color: #f9f9f9;
    border-radius: 0.6em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 1.2em;
}

label {
    font-size: 1.1em;
    margin: 0 0.6em 0.6em 0;
    display: inline-block;
    text-align: center;
}

input {
    padding: 0.5rem;
    margin-top: 0.3em;
    margin-bottom: 0.9em;
    font-size: rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #0056b3;
    outline: none;
}

/* Nested divs for radio btn and input field */
div > div {
    margin-bottom: 1.5em;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

/* Styling for the paragraphs showing conversion result */
p {
    font-size: 1.2em;
    color: #333;
    margin-top: 0.7em;
    text-align: center;
}

/* media query for screens smaller than 800px */
@media (max-width: 800px) {
    div {
        width: 85%;
    }
  }
