<div class="main-container">
    <h2>Length Converter</h2>

    <div class="radio-btn-container">
        <!-- Radio button for Feet to Meter conversion -->
        <label>
            <input type="radio" name="conversionType" (change)="toggleConversionType('feetToMeter')"
                [checked]="conversionType === 'feetToMeter'">
            Feet to Meter
        </label>

        <!-- Radio button for meter to feet conversion -->
        <label>
            <input type="radio" name="conversionType" (change)="toggleConversionType('meterToFeet')"
                [checked]="conversionType === 'meterToFeet'">
            Meter to Feet
        </label>
    </div>

    <!-- Property binding to toggle the visibility of each form -->
    <div [style.display]="conversionType === 'feetToMeter' ? 'block' : 'none'">
        <label for="feet">Feet:</label>
        <!-- Two way data binding for feet input -->
        <input id="feet" type="number" [(ngModel)]="feet" (input)="convertToMeter()">
        <p>{{feet}} Feet = {{meter | number:'1.2-2'}} Meters</p>
    </div>

    <div [style.display]="conversionType === 'meterToFeet' ? 'block' : 'none'">
        <label for="meter">Meter:</label>
        <!-- Two way data binding for meter input -->
        <input id="meter" type="number" [(ngModel)]="meter" (input)="convertToFeet()">
        <p>{{meter}} Meter = {{feet | number:'1.2-2'}} Feet</p>
    </div>
</div>