<div class="main-container">
    <h2>Temperature Converter</h2>

    <div class="radio-btn-container">
        <!-- Radio button for Fahrenheit to Celsius conversion -->
            <label>
                <input type="radio" name="conversionType" (change)="toggleConversionType('farenheitToCelsius')"
                    [checked]="conversionType === 'farenheitToCelsius'">
                Fahrenheit to Celsius
            </label>

            <!-- Radio button for Celsius to Fahrenheit conversion -->
            <label>
                <input type="radio" name="conversionType" (change)="toggleConversionType('celsiusToFarenheit')"
                    [checked]="conversionType === 'celsiusToFarenheit'">
                Celsius to Fahrenheit
            </label>
    </div>

    <!-- Property binding to toggle the visibility of each form -->
    <div [style.display]="conversionType === 'farenheitToCelsius' ? 'block' : 'none'">
        <label for="farenheit">Fahrenheit:</label>
        <!-- Two way data binding for Farenheit input -->
        <input id="farenheit" [(ngModel)]="farenheit" (input)="convertToCelsius()">
        <p>{{farenheit}}° Fahrenheit = {{celsius | number:'1.2-2'}}° Celsius</p>
    </div>

    <div [style.display]="conversionType === 'celsiusToFarenheit' ? 'block' : 'none'">
        <label for="celsius">Celsius:</label>
        <!-- Two way data binding for Celsius input -->
        <input id="celsius" [(ngModel)]="celsius" (input)="convertToFarenheit()">
        <p>{{celsius}}° Celsius = {{farenheit| number:'1.2-2'}}° Fahrenheit</p>
    </div>
</div>