div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    margin: 2em 0;
}

div img {
    width: 20em;
    height: auto;
    border-radius: 5px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

/* media query for screens smaller than 768px */
@media (max-width: 768px) {
    div {
        flex-direction: column;
    }

    div img {
        width: 80%;
        border-radius: 0;
        margin: 0 auto;
    }
}