a {
    display: inline-block;
    text-decoration: none;
    color: #550015;
    background-color: #D8B8A2;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: #550015 2px solid;
    transition: all 0.3s ease;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
  }
  
a:hover {
    color: #fff;
  }
  